body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background: #171236;
    overflow: hidden;
}

#accueil {
    height: 55vh;
    max-width: 100%;
    margin-top: -22px;
    background: #0665FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenu{
    margin-top:300px;
}

.bottom-arrow{
    text-align: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 2px;
    transform: rotate(90deg);
    color: #FFFFFF;
}


@media screen and (max-width: 1000px){
    .fond-curvy {
        width : 100%;
        left: 0;
        top: 40%;
    }
    .fond-back {
        width : 100%;
        left: 0;
        top: 45%;
    }

    #button{
        position: absolute;
        width: 20%;
        height : 5%;
        background: rgba(255, 255, 255, 0.35);
    }

    #button-text{
        font-weight: 400; /* épaisseur */
        font-size: 25px; 
        line-height: 29px;
    }
}
.fond-curvy {
    width : 100%;
    position: absolute;
    left: 0;
    bottom: 5%;
    display: block;
    z-index: -1;
    user-select: none; 
}

.fond-back {
    width : 100%;
    position: absolute;
    left: 0;
    bottom: 3%;
    display: block;
    z-index: -3;
    user-select: none; 
}

.fond-front {
    width : 65%;
    position: absolute;
    left:0;
    top: 0;
    display: block;
    z-index: 1;
    user-select: none; 
}

button {
    /* position */
    position : absolute;
    top: 2%;
    right: 1%;
    /* dimensions */
    width: 116px;
    height: 48px;
    /* bordure */
    border: 1.5px solid #FFFFFF;
    border-radius: 70px;
    /* arrière-plan */
    background: rgba(255, 255, 255, 0.15);
    /* Alignement vertical et horizontal du texte*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* curseur */
    cursor: pointer;
}

.button-text{
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400; /* épaisseur */
    font-size: 14px; 
    line-height: 18px;
    /* centrer horizontalement */
    text-align: center;
}

#h1 {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

h3 {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 23px;
    color: #FFFFFF;
}

.go-down-button{
    /* aligment vertical */
    margin-top:150px;
    /* disposition verticale */
    display:flex;
    flex-direction: column;
    /* curseur */
    cursor: pointer;

}


.div-button{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1340px;
    top: 614px;
}

.go-up-button{
    /* emplacement */
    position: absolute;
    right: calc(1%);
    bottom: calc(2%);

    /* bordure et physique*/
    width: 56px;
    height: 56px;
    background: #0665FF;;
    opacity: 0.1; 
    border-radius: 16px;
    z-index: -1;

    /* bordure */


    /* texte */
}

.go-up-button-text{    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;        
    color : #0665FF;
    opacity: 1;
    z-index: 1;
}

#login-block{
    position: absolute;
    top: 30%;
    left:30%;
    width: 40%;
    height: 50%;
    z-index: -2;

    /* bordure et background */
    background: rgba(255, 255, 255);
    opacity: 0;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

