<!DOCTYPE html>
<html>
<head>
	<title>Tableau avec bouton dynamique</title>
	<script>
		var arceauState = {{arceauState|tojson }};
		var arceauStateNew;
		var arceau_id = 1;
		var arceauAction = 0;
		var arceauBattery = {{arceauBattery|tojson}};
		var lock = 0;
		var timer = 10000;
		/*** UPDATE THE BUTTON STATE ***/
		function buttonUpdate() {
			var button = document.getElementById('arceauButton');
			if (arceauState == 0) {
				button.innerHTML = "En attente";
				button.disabled = true;
			}
			else if (arceauState == 1) {
				button.innerHTML = "Descendre l'arceau";
				button.disabled = false;
			}
			else if (arceauState == 2) {
				button.innerHTML = "Lever l'arceau";
				button.disabled = false;
			}
		  buttonsUpdate();
		}

		
		function buttonsUpdate(){
			document.getElementById("divstate").innerHTML = "État de l'arceau : "+arceauState;
			document.getElementById("divaction").innerHTML = "Action pour l'arceau :  "+arceauAction;
			document.getElementById("test").innerHTML = "Batterie ="+arceauBattery+"%";
		}
	

		/*** REACT ON THE CLICK OF THE BUTTON ***/
		function buttonClick() {
			var arceauButton = document.getElementById("arceauButton");
			if (arceauButton.disabled) {
				button.innerHTML = "En attente";
				button.disabled = true;
			} 
			else if(arceauButton.innerHTML == "Descendre l'arceau"){
				arceauState=0;
				arceauAction=2;
				timer=6000;
			}
			else if(arceauButton.innerHTML == "Lever l'arceau") {
				arceauState=0;
				arceauAction=1;
				timer=13000;
			}
			buttonUpdate();
			buttonsUpdate();
			sendDataToDB(arceauAction);
			lock=1;
			setTimeout(function() {
				arceauAction=0;
  				sendDataToDB(arceauAction);
				lock=0;
				buttonUpdate();
				buttonsUpdate();
			}, timer);
		}

		/*** SEND DATA TO UPDATE_DB ***/
		function sendDataToDB(arceauActiontoDB){
			fetch('/update_state/' + arceau_id, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({action: arceauActiontoDB.toString()})
			})

		/*** print response from update_db ***/ 
		.then(response => response.json())
		.then(data => {
				console.log(data.message);
		})
		.catch(error => {
				console.error(error);
		});
		}

		/*** FONCTIONS TEST POUR REINITIALISER State ***/
		/**
		
		function buttonClick2() {
			arceauState=2;
			buttonUpdate();
		}
	
		function buttonClick3() {
			arceauState=1;
			buttonUpdate();
		}

		**/

		/*** Viens chercher l'état de state selon l'ESP32 ***/
		function updateState(){
			if(lock==0){
				fetch('/get_state/' + arceau_id, { 
					method: 'POST',
					headers: {
					'Content-Type': 'application/json'
					}
				})
				.then(response => response.json())
				.then(data => {
					arceauState = data.state;
					arceauBattery = data.battery;
					buttonUpdate();
				})
				.catch(error => {
					console.error('Error:', error);
				});
			}
		}
		setInterval(updateState, 10); // Modifie l'état toutes les 5 secondes
	</script>
    
</head>
<body onload="buttonUpdate();">
	<table>
		<tr>
			<td>Arceau 1 - </td>
			<td></td>
			<td id="test"> Batterie</td>
			<td><button id="arceauButton" onclick="buttonClick();">-</button></td>
		</tr>
	</table>

<div id="divstate"></div>
<div id="divaction"></div>
<div id="divlock"></div>
<div id="aaah"></div>


<!--  
<button id="set2" onclick="buttonClick2()">2</button>
<button id="set1" onclick="buttonClick3()">1</button>
-->
</body>
</html>



