<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Park-Ensea</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</head>
<body>
    <div id="accueil">
        <div class="contenu">
            <button id="button" type="button" onclick="redirectionLogin()">
                <div id="button-text" class="button-text">Se connecter</div>
            </button>
            <h1 id="h1">PARK-ENSEA</h1>
            <div class="go-down-button" id="go-down-button" onclick="scrollDownOnClick()">
                <h3>Découvrir</h3>
                <div class="bottom-arrow">></div>
            </div>
        <div class="login-block" id="login-block"> </div>

        <!-- svg for design -->
        <img src="{{ url_for('static', filename='svg/fond.svg') }}"  class="fond-curvy" id="fond-curvy">
        <img src="{{ url_for('static', filename='svg/fond_back.svg') }}" class="fond-back" id="fond-back">
        <img src="{{ url_for('static', filename='svg/fond_front.svg') }}" class="fond-front" id="fond-front">
    </div>
    <div id="go-up-button" onclick="scrollUpOnClick()" >
        <div id="go-up-button-text">↑</div>
    </div>
    <div class="label-usertest">
        Amusez-vous avez le compte utilisateur suivant : 
        <h2 id="mail">user@ensea.fr</h2><br>
        <h2 id="pass">ensea</h2>
    </div>
</body>