<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Park-Ensea User</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_user.css') }}">
  <script>  
        /*** we get here data from flask code ***/
        var arceauState = {{arceauState}};
        var arceauBattery = {{arceauBattery}};
        var arceauId = {{arceauId}};
        var tableHTML = "<table id='table'><tr id='titre'><th>Arceau ID</th><th>Battery</th><th>Action</th><th>État</th><th>Lever/Descendre</th></tr>";
        for (var i = 0; i < arceauId.length; i++) {
        tableHTML += "<tr>";
        tableHTML += "<td >" + arceauId[i] + "</td>";
        tableHTML += "<td id='arceauBattery'>" + arceauBattery[i] + "</td>";
        tableHTML += "<td id='arceauAction'>" + 0 + "</td>";
        tableHTML += "<td id='arceauState'>" + arceauState[i] + "</td>";
        tableHTML += "<td>" + "<button id='arceauButton' onclick='buttonClick();'>-</button>" + "</td>";
        tableHTML += "</tr>";
        }

        tableHTML += "</table>";

        document.getElementById("section-arceau-tableau").innerHTML = tableHTML;
  </script>
  <script src="{{ url_for('static', filename='scripts/user.js') }}"></script>
</head>

<body onload="update_tab();">
    <div class="contenu">
        <div class="right-buttons">
            <div class="username" onclick="redirectionUserEdit()">
                <h4>Username</h4>
                <h5>User-email</h5>
            </div>
            <button type="button" onclick="window.location.href='/logout'">
                <div class="button-text">Se déconnecter</div>
            </button>
        </div>
        <h1 id="h1">PARK-ENSEA</h1>
        <h2 id="h2">User Page</h2>
    </div>
    <div class="div-button">
        <div class="go-up-button">
            <div class="go-up-button-text">↑</div>
        </div>
    </div>
    <div id="section-arceau">
        <div id="section-arceau-texte">
            <h3 class="arceau">Arceaux</h3>
            <p class="arceau-text">Modifiez ici vos arceaux 1 à 1</p>
        </div>
        <div id="section-arceau-tableau"> 
            -
        </div>
    </div>
</body>